# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Distribution/Packaging
*.egg
*.egg-info/
dist/
build/

# IDE and editor files
.vscode/
.idea/
*.swp

# Flask specific
instance/
.webassets-cache/

# Log files
*.log

# Test coverage files
.coverage
*.coveragerc

# Python virtual environment files
*.env
*.venv

# Jupyter Notebooks
.ipynb_checkpoints/
